.TextLoader {
  position: fixed;
  display: flex;
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 10px;
  animation: rotation 1s linear infinite;
}

.animate-text {
  animation: pump 2.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pump {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
